@page
@model StudentHelper.Pages.Assignments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Assignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Assignment.AssignmentDesc" class="control-label"></label>
                <input asp-for="Assignment.AssignmentDesc" class="form-control" />
                <span asp-validation-for="Assignment.AssignmentDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.AssignmentDueDate" class="control-label"></label>
                <input asp-for="Assignment.AssignmentDueDate" class="form-control" />
                <span asp-validation-for="Assignment.AssignmentDueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.StudentID" class="control-label"></label>
                <select asp-for="Student.StudentID" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.StudentAssignment.CourseID" class="control-label"></label>
                <select asp-for="StudentAssignment.CourseID" class ="form-control" asp-items="ViewBag.CourseId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
